.gitHub {
    height: 30%;
    width: 30%;
    top: 47vh;
    left: 20vh;
    position: relative;
    animation: transitionIn 1000ms;
    
    
}

.linkedin {
    height: 30%;
    width: 30%;
    top: 31vh;
    left: 110vh;
    position: relative;
    animation: transitionIn 2000ms;
}

.instagram {
    height: 30%;
    width: 30%;
    top: 14vh;
    left: 65vh;
    position: relative;
    animation: transitionIn 2500ms;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.show {
    display: none;
}

.button4 {
    background-color: #000000;
    border: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.button4:hover {
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

.button5 {
    background-color: #1485a1;
    border: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.button5:hover {
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

.button6 {
    background-image: linear-gradient(rgb(183, 0, 255), rgb(255, 145, 0));
    border: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.button6:hover {
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

.Main{
    position: relative;
    top: -40px;

}

.backgroundRectangleUp{

    position: relative;
    top: 3.5vw;
    left: 0vw;
    width:100%;
    height:47.5vh;
    background:rgb(255, 94, 0);
    z-index: -7;

}

.footerUp{


    position: absolute;
    top: 84vh;
    left: 0vh;
    width: 100%;
}