.Post1{
 
    position: absolute;
    left: 10vw;
    top: 35vh;
    width: 40vh;
    height:20vh;
    background: #ffffff;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow:  1px 1px 5px 1px rgb(255, 102, 0);
    animation: transitionInPosts 1000ms;
    opacity: 0.9;
    
   
    
    

}
.Post2{

    position: absolute;
    left: 37vw;
    top: 35vh;
    width: 40vh;
    height:20vh;
    background: #ffffff;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow:  1px 1px 5px 1px rgb(255, 102, 0);
    animation: transitionInPosts 2000ms;
    opacity: 0.9;
}


.Post3{

    position: absolute;
    top: 35vh;
    left: 65vw;
    width: 40vh;
    height:20vh;
    background: #ffffff;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow:  1px 1px 5px 1px rgb(255, 102, 0);
    animation: transitionInPosts 2300ms;
    opacity: 0.9;
}

.projectsTitle{

    position: relative;
    width: 20vw;
    top:3vw;
    left: -2vw;
}
.imgPost2{

    width: 150px;
    height: 75px;
}

.footerPost1{
    position: absolute;
    left: 0vh;
    top: 80vh;
    width: 100%;
}

.moreAboutReactangle2{
    position: relative;
    top: 6vw;
    left: 0vw;
    width:100%;
    height:10vh;
    background:rgb(255, 94, 0);
    z-index: -7;
    animation: transitionInCard 700ms;
}

.imgPost1{

    width: 150px;
    height: 90px;
}



h3{

    color: silver;
    font-size: 80%;
}

.button10:hover {
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  
}

.button11:hover {
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
   
}

.button10{
    position: absolute;
    left: 31vh;
    top: 57vh;
    background-color: #0b60a7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    animation: transitionIn 1000ms;
}

.button11{
    position: absolute;
    left: 82vh;
    top: 57vh;
    background-color: #0b60a7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    animation: transitionIn 2000ms;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {    

        opacity: 1;
        transform: translateY(0);
    }

}


@keyframes transitionInCard {
    from {
        opacity: 0;
        transform: translateX(-5000px);
    }

    to {    

        opacity: 1;
        transform: translateX(0px);
    }

}


@keyframes transitionInCardRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {    

        opacity: 1;
        transform: translateX(0px);
    }

}

@keyframes transitionInPosts {
    from {
       opacity: 0;
        transform: translateY(-30px);
    }
    to {
        
        transform: translateY(0);
    }
}