.Post1{
 
    position: relative;
    left: 25vw;
    top: -25vh;
    width: 50%;
    height:200px;
    background: #ffffff;
    box-shadow: 1px 3px 4px rgba(0, 0, 42, 0.5);
   
    
    

}
.Post2{

    position: relative;
    left: 25vw;
    top: -5vh;
    width: 50%;
    height:200px;
    background: #ffffff;
    box-shadow: 1px 3px 4px rgba(0, 0, 42, 0.5);
}


.summonAll{
    position: relative;
    top: 10vh;
}

.Post3{

    position: relative;
    top: 15vh;
    left: 25vw;
    width: 50%;
    height:200px;
    background: #ffffff;
    box-shadow: 1px 3px 4px rgba(0, 0, 42, 0.5);
}

.projectsTitle{

    position: relative;
    height: 50vh;
    top: -15vh;
}
.imgPost2{

    width: 150px;
    height: 75px;
}

.footerAbout2{
    position: relative;
    display: inline;
    top: 30vh;
    width: 100%;
}

.moreAboutReactangle2{
    position: relative;
    top: -54vw;
    left: 0vw;
    width:100%;
    height:10vh;
    background:rgb(255, 94, 0);
    z-index: -7;
}

.moreAboutReactangle3{
    position: relative;
    top: -38vw;
    left: 0vw;
    width:100%;
    height:10vh;
    background:rgb(255, 94, 0);
    z-index: -7;
}

.moreAboutReactangle4{
    position: relative;
    top: -21vw;
    left: 0vw;
    width:100%;
    height:10vh;
    background:rgb(255, 94, 0);
    z-index: -7;
}
.imgPost1{

    width: 150px;
    height: 90px;
}



h3{

    color: silver;
    font-size: 80%;
}






.button10:hover {
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  
}

.button11:hover {
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
   
}

.button11{
    position: absolute;
    right: 87vh;
    top: 90vh;
    background-color: #0b60a7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

.button10{
    position: absolute;
    right: 87vh;
    top: 48vh;
    background-color: #0b60a7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}




@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {    

        opacity: 1;
        transform: translateY(0);
    }

}


@keyframes transitionInCard {
    from {
        opacity: 0;
        transform: translateX(0);
    }

    to {    

        opacity: 1;
        transform: translateX(30px);
    }

}


@keyframes transitionInCardRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {    

        opacity: 1;
        transform: translateX(0px);
    }

}