
.button1{
    
    position: absolute;
    right: 50vh;
    top: 2vh;
    background-color: #0b60a7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
      
}

.button2{
    
    position: absolute;
    right: 35vh;
    top: 2vh;
    background-color: #0b60a7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

.button3{
    
    position: absolute;
    right: 20vh;
    top: 2vh;
    background-color: #0b60a7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

.button1:hover{
    
    background-color: white;
    color: rgb(7, 162, 214);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.50), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.button2:hover{
  background-color: white;
  color: rgb(7, 162, 214);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.50), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.button3:hover{
  background-color: white;
  color: rgb(7, 162, 214);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.50), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}
a{
    padding-top: 2%;
}

html,
body,
header,
.view {
    height: 100%;
}





  

  .PageName{

    position: absolute;
    text-align: center;
    left: -25vh;
    top: -14vh;
    height: 40vh;
    width: 50vw;
  

    
  }

  .PageName:hover, .PageName:visited, .PageName:link, .PageName:active
{
    text-decoration: none;
}
  .Avatar{
   position: relative;
    height: 7%;
    width: 7%;
    left: -40%;
    top: -37px;
    transform: rotate(-10deg);
    border-radius: 15px 50px 30px 5px;
    box-shadow: 1px 3px 2px rgba(42, 42, 42, 0.5);
    transition: all .2s ease-in-out; 

  }

  .Avatar:hover{

    transform: scale(1.2); 
  }
   
#navbar {
  background-color: rgb(80, 80, 80);
  position: fixed;
  top: 0;
  width: 100vw;
 
  
  
}

#navbar{
    
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5vh;
    text-decoration: none;
    font-size: 17px;
    z-index: 999;
}
  

 

