.AboutText{
text-align: center;
font-size: 100%;



}

.picture1{

    position: absolute;
    top: 8vw;
    left: 75vh;
    align-content: center;
    width: 22%;
    
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-radius: 70%;
}

.PageName1{

    position: absolute;
    width: 60vh;
    top: 15vh;
    left: 104vh;
    transform: rotate(-10deg);
   
    
    

}



.selective{

    position:relative;
    top: 8vh;
    left: 5vh;
}


.selectInfo{

    position: relative;
    top: 30vh;
    left: -50vh;
}
.info1{ 

    position: absolute;
    top: 7vw;
    left: 17vw;
    width: 30vw;
    animation: imgApear 1000ms;
    
    
}

.pcIcon{
    position: absolute;
    top: 74vh;
    left: 37vh;
    width: 20vh;
}

.pcIcon1{
    position: absolute;
    top: 68vh;
    left: 73vh;
    width: 32vh;
}

.pcIcon2{
    position: absolute;
    top: 71vh;
    left: 120vh;
    width: 25vh;
}

.info2{

    position: absolute;
  
    top: -15vw;
    left: 47vw;
    width: 55%;
    

}

.info3{
  
    position: absolute;
    top: 6vw;
    left: 64vw;
    width: 20vw;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.50), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    
    
}

.moreAboutReactangle{

    position: absolute;
    top: vw;
    left: 0vw;
    width:100%;
    height:10vh;
    background:rgb(255, 94, 0);
    z-index: -7;
}

.selectAll{

    position: relative;
    top: -4vw;
    left: -6vw;
}


.footerAbout{
    position: absolute;
    top: 80vh;
    left: 0vh;
    width: 100%;
}


.backgroundRectangle{

    position: absolute;
    top: 27.5vw;
    left: 0vw;
    width:100%;
    height:47.5vh;
    background:rgb(255, 94, 0);
    z-index: -7;

}

.buttonMore{

    position: absolute;
    left:180vh;
    top: 52.8vh;
    background-color: #0b60a7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.5;

}

.buttonLess{

    position: absolute;
    left:86vh;
    top: 72vh;
    background-color: #0b60a7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.5;
   

}


.buttonMore:hover{
    opacity: 1;
    background-color: white;
    color: rgb(7, 162, 214);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.50), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  }


  .buttonLess:hover{
      opacity: 1;
    background-color: white;
    color: rgb(7, 162, 214);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.50), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  }

  .backgroundRectangleMore{

    position: absolute;
    top: 24vw;
    left: 0vw;
    width:100%;
    height:20vh;
    background:rgb(255, 94, 0);
    z-index: -7;

  }


@keyframes imgApear {
    from {
        position: absolute;
    top: 20vw;
    left: 30vw;
    width: 0%;
    }

    to {    

        position: absolute;
        top: 7vw;
        left: 17vw;
        width: 30vw;
    }
}

